<div class="row">
    <div class="col-md-6">

        <form class="form-style1" (ngSubmit)="submit()" #contactForm="ngForm">
            <h2>Raise your Issue!</h2>
            <div class="form-group  align-center">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name...!" required minlength="4" [(ngModel)]="contact.name" #uName="ngModel">
                <div class="alert alert-danger" *ngIf="uName.touched && !uName.valid">
                    Please make sure name is provided and is atleast 4 chars long.

                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Enter your email...!" required [(ngModel)]="contact.email" #uEmail="ngModel">
                <div class="alert alert-danger" *ngIf="uEmail.touched && !uEmail.valid">
                    Please make sure email is provided and is atleast 4 chars long.

                </div>
            </div>
            <div class="form-group">
                <label for="query">Query</label>
                <textarea name="query" id="query" cols="5" rows="5" class="form-control" maxlength="200" required [(ngModel)]="contact.query" #uQuery="ngModel">
                </textarea>
                <div class="alert alert-danger" *ngIf="uQuery.touched && !uQuery.valid">
                    Please make sure Query is provided and write less than 200 letters.

                </div>
            </div>
            <div class="form-group">
                <label for="domain">Domain</label>
                <select class="form-control" name="domain" id="domain" [(ngModel)]="contact.domain" #uDomain="ngModel">
                    <option *ngFor="let domain of domains">{{domain}}</option>
        
                </select>
            </div>
            <button type="submit" [disabled]="!contactForm.form.valid" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>