.header {
    padding: 30 px;
    color: grey;
    text-align: center;
    background-color: aqua;
}

.box {
    width: 300px;
    border: 15px solid ( rgb(75, 75, 78));
    padding: 25px;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}

button {
    padding: 8px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}